<header>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh; position: fixed; top: 0; left: 0;">
    <a href="/" class="d-flex justify-content-center w-100 text-decoration-none link-dark">
      <i class="bi bi-card-image"></i>
      <div class="d-flex flex-column align-items-center text-center">
        <span class="fs-4">ATrack</span>
        <small class="logo-subtext text-muted" style="margin-top: -4px;">for music</small>
      </div>
    </a>
    <hr>

<form class="navbar-form navbar-left mb-3" action="/search" method="GET">
  <div class="input-group">

    <!-- DROPDOWN -->
    <select name="type" class="form-select px-2" style="max-width: 90px; background-color: #dee2e6" >
      <option value="track">Songs</option>
      <option value="artist">Artists</option>
      <option value="album">Albums</option>
    </select>

    <!-- SEARCH ICON -->
    <span class="input-group-text bg-white border-start-0 border-end-0">
      <i class="bi bi-search"></i>
    </span>

    <!-- MAIN INPUT -->
    <input 
      type="text" 
      class="form-control" 
      name="song" 
      placeholder="Search..." 
      required
    >

  </div>
</form>

<!-- NAV LINKS -->
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/albums" class="nav-link link-dark {{#if isAlbums}}active{{/if}}">
      <i class="bi bi-vinyl-fill"></i>
      Albums
    </a>
  </li>
  <li>
    <a href="/songs" class="nav-link link-dark {{#if isSongs}}active{{/if}}">
      <i class="bi bi-music-note-beamed"></i>
      Songs
    </a>
  </li>
  <li>
    <a href="/genres" class="nav-link link-dark {{#if isGenres}}active{{/if}}">
      <i class="bi bi-music-note-list"></i>
      Genres
    </a>
  </li>
  <li>
    <a href="/friends" class="nav-link link-dark {{#if isFriends}}active{{/if}}">
      <i class="bi bi-people-fill"></i>
      Friends
    </a>
  </li>
</ul>
      <div class="d-grid gap-2">
        <a class="btn btn-outline-primary rounded-0" href="/login" role="button">Log In</a>
        <a class="btn btn-primary rounded-0" href="/register" role="button">Sign Up Free</a>
      </div>
    <hr>
  </div>
</header>