.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #cfcfcf;
  color: #000;
  border: none;
}

.logo-subtext {
    font-size: 0.75rem;
    margin-top: -4px;
    letter-spacing: 0.5px;
}

.input-group-text {
  background-color: transparent;
  border-right: none;
}

.form-control {
  border-left: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

/*give nav bar some space between elements*/
.navbar-form {
  margin-bottom: 12px;
}