<div class="container mt-4">

  <!-- Page Title -->
 <div class="d-flex justify-content-between align-items-center mb-4">
  <h2 class="fw-bold">Artists</h2>
  <span class="text-muted small">{{artist_list.length}} results</span>
</div>

  <!-- Grid -->
  <div class="row g-4">

    {{#each artist_list}}
      <div class="col-2-4">
        {{> artist_card}}
      </div>
    {{/each}}

  </div>

</div>