<!-- taken from lab 7 -->
<div class="container mt-5" style="max-width: 500px; margin-left: auto; margin-right: auto;">
    <h1 class="text-center mb-4">Register</h1>
    
    {{#if message}}
      <div class="alert alert-warning" role="alert">{{message}}</div>
    {{/if}}

    <form action="/register" method="POST" autocomplete="off">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" autocomplete="new-password" required>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>